<div class="cabecero">
  <app-display />
</div>

<app-form />

<div class="contenedor limpiarEstilos">
    <div class="ingreso">
          <h2 class="ingreso_titulo">Ingresos</h2>
          <app-transaction *ngFor="let earning of earnings | keyvalue" [amount]="earning.value.amount" [subject]="earning.value.subject" [key]="earning.key"/>
    </div>
    
    
    
    <div class="egreso">
        <h2 class="egreso_titulo">Egresos</h2>
        <app-transaction *ngFor="let expense of expenses | keyvalue" [amount]="expense.value.amount" [subject]="expense.value.subject" [key]="expense.key"/>
      </div>
</div>
